{%extends "layouts/base.html" %}
{%load staticfiles %}
{%block content %}
{% if message %}
<div>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
</div>
{% endif %}
<div class="alert alert-warning" role="alert">
    <span aria-hidden="true">&times;</span></button>
        File should be zip and the images jpg or jpeg
    </div>
<div class="row">
	<h1 align="center">Audit Platform {{platform.name}}</h1>
		<form method="POST" enctype="multipart/form-data">
		    {% csrf_token %}
		    {% load widget_tweaks %}
	<div class="row">
	<div class="col-xs-12">
	<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12">
		    <div class="control">
                {{form.amount_collected|add_class:"form-control"|attr:"placeholder:Amount"}}
                {{ form.amount_collected.errors }}
            </div>
            <div class="control">
                {{form.feedback|add_class:"form-control"|attr:"placeholder:Feedback"}}
                {{ form.feedback.errors }}
            </div>
            <div class="control">
                {{form.no_of_people|add_class:"form-control"|attr:"placeholder:Number of  People"}}
                {{ form.no_of_people.errors }}
            </div>
            <div class="control">
                {{form.upload|add_class:"form-control"|attr:"placeholder:Upload"}}
                {{ form.upload.errors }}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

	<input type="submit" class="save btn btn-success col-xs-12" value="Save Platform">
    </form>
    {%if picture%}
    <div class="row">
        {%for i in piccount%}
        {% with picture|add:'/'|add:i|add:'.jpg' as image_static %}
        <div class="col-sm-3">
            <img class="img-thumbnail img-responsive" src="{%static image_static %}" style="max-width: 100%; height: 200px;position:relative;float:left;">
        </div>
        {%endwith%}
        {%endfor%}
    </div>  
    {%endif%}
</div>
</div>
{%endblock%}
