{%extends "layouts/base.html" %}
{%block content %}
<div class="row">
	<button type="button" class="btn btn-success col-xs-10 col-xs-offset-1" data-toggle="modal" data-target="#modalDefault">Invite Onestage User</button>
        <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invite Onestage Member</h4>
                </div>
                <div class="modal-body">
                    <div id="message-div">
                        <div id='messages' class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                    <form action="/invitenewuser/" method="POST">
                    	<div class="control">
                            <input id='inviteemail' type="text" name="email" class="form-control" placeholder="admin@gmail.com" />
                         </div>
                         <input id='invitetype' type="hidden" name="type" value="onestage"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="inviteonestageuser" class="btn btn-primary">Invite EmailID</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
{% for u in ousers %}
    <li class="list-group-item">
    <div class="row">
    	<div class="col-xs-6"><h4>{{ u.username }}</h4><br>{{ u.email }}</div>
    	<div class="col-xs-6"><a type="button" class="btn btn-success" href="#">View Profile</a></div>
    </div>
    </li>
{% endfor %}
</ul>
{%endblock%}
{%block scripts%}
<script type="text/javascript">
    $('#message-div').hide();

    $('#inviteonestageuser').click(function(){
        purl='/invitenewuser/';
        email=$('#inviteemail').val();
        type=$('#invitetype').val();
        console.log(email+':'+type);
        $.ajax({
            url : purl, 
            type : "POST", 
            data : {'email': email, 'utype': type}, 
            success : function(json) {
                $('#messages').append('<span>Invite has been sent</span>');
                $('#message-div').show();
            },
            error : function(xhr,errmsg,err) {
                $('#messages').append('<span>An error has occured. Please try again</span>');
                $('#message-div').show();
            }
        });
    });
</script>
{%endblock%}