{%extends "layouts/base.html" %}
{%block content %}
<div class="row">
	<button type="button" class="btn btn-success col-xs-10 col-xs-offset-1" data-toggle="modal" data-target="#modalDefault">Invite Onestage User</button>
        <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-group">
{% for u in ousers %}
    <li class="list-group-item">
    <div class="row">
    	<div class="col-xs-6"><h4>{{ u.username }}</h4><br>{{ u.email }}</div>
    	<div class="col-xs-6"><a type="button" class="btn btn-success" href="#">View Profile</a></div>
    </div>
    </li>
{% endfor %}
</ul>
{%endblock%}