{%load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Onestage: Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/checkbox3.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'lib/css/select2.min.css' %}">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/themes/flat-blue.css' %}">
</head>

<body class="flat-blue login-page">
    <div class="container">
    {% if message %}
    <div>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    </div>
    {% endif %}
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <i class="login-logo fa fa-user fa-5x"></i>
                        <h4 class="login-title">OneStage</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <div class="progress hidden" id="login-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Register As a {{utype}} Member
                                </div>
                            </div>
                            <form action="/newuser/{{utype}}/{{password}}/{{email}}/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="control">
                                {% if utype == 'Onestage' %}
                                    <input type="text" name="first_name" class="form-control" placeholder='First Name' required/>
                                {%elif utype == 'Organisation' %}
                                    <input type="text" name="first_name" class="form-control" placeholder='Name of Organization' required/>
                                {%else%}
                                    <input type="text" name="first_name" class="form-control" placeholder='Name of College' onkeyup="copy_data(this)" required/>
                                {%endif%}
                                </div>
                                <div class="control">
                                    <input type="password" name="password" class="form-control" placeholder='Password' required/>
                                </div>
                                <div class="control">
                                    <input type="password" name="conpassword" class="form-control" placeholder='Confirm Password' data-match="#password" required/>
                                </div>
                                <div class="control">
                                {% if utype == 'Onestage' %}
                                    <input type="text" name="collegeName" class="form-control" placeholder='College' required/>
                                {%elif utype == 'Organisation' %}
                                    <input type="hidden" name="collegeName" class="form-control" value='Organization'/>
                                {%else%}
                                     <input type="hidden" name="collegeName" id="collegeName" class="form-control" value=''/>
                                {%endif%}
                                </div>
                                <div class="control">
                                    <input type="file" name="picture" class="form-control"required/>
                                </div>
                                <div class="control">
                                    <input type="text" name="description" class="form-control" placeholder="Description" required/>
                                </div>
                                <div class="control">
                                    <input type="text" name="telephone" class="form-control" placeholder="Telephone" required/>
                                </div>
                                <div class="control">
                                    <input type="hidden" name="email" class="form-control" value="{{email}}"/>
                                </div>
                                <div class="control">
                                    <input type="hidden" name="utype" class="form-control" value="{{utype}}" />
                                </div>
                                <div class="control">
                                    <input type="hidden" name="oldpassword" class="form-control" value="{{password}}" />
                                </div>
                                <div class="login-button text-center">
                                    <input type="submit" class="btn btn-primary" value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="{%static 'lib/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/bootstrap-switch.min.js' %}"></script>
    
    <script type="text/javascript" src="{%static 'lib/js/jquery.matchHeight-min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/ace/ace.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/ace/mode-html.js' %}"></script>
    <script type="text/javascript" src="{%static 'lib/js/ace/theme-github.js' %}"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="{%static 'js/app.js' %}"></script>
    {%if utype == 'CAP'%}
    <script type="text/javascript">
        function copy_data(val){
         var a = val.value
         document.getElementById("collegeName").value=a
        }
    </script>
    {%endif%}
</body>

</html>
