{%extends 'homeappmaterial/layout/base.djt' %}
{%load staticfiles %}

{%block content%}
<div align="center">
<h1>Our Mission and Vision</h1>
<h5>What we strive for at OneStage</h5>
<br><br>
<div class="row" align="left">
	<div class="col s12 m6 l6">
		<h1>Mission</h1>
		<p>To simultaneously address the problems that the differently abled face through socio-cultural and economic rehabilitation which comprise of skill building, knowledge transfer programmes and innovative operating strategies.</p>

		<h2>Vision</h2>
		<ul>
		<li>To increase the revenue of participating organizations by 50% and thereby increase their self-sustainability</li>
		<li>To extend our outreach to over 50,000 citizens of our country so as to sensitize the public about the problems that the disabled face and thereby ensure the creation of a more inclusive environment</li>
		<li>To encourage entrepreneurial spirit among the differently abled and aid in the incubation and creation of 2 ventures through micro loans, leadership training and business development.</li>
		</ul>
	</div>
	<div class="col s12 l6 m6 " align="center">
		<img class="responsive-img" src="{% static 'homeapp2/img/15.jpg' %}">
	</div>
</div>
</div>
{%endblock%}