body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#logo-container{    
    height: 200px;
}
#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
    padding-top: 20px;
}


.slider{
	height: 10%;
}

.container{
    width: 90%;
}

.o-outer {
    float: left;
    position: relative;
    padding: 20%;
    margin: 4.33% -3% 0 0;
    opacity: 0.5;
}
.o {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: 20;
}
.o:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotate(45deg);
    background: #7E3C7E;
    content: '';
}


.oinner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: 10;
}
.oinner:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotate(45deg);
    background: white;
    content: '';
}


.reveal{
    background: linear-gradient(270deg, #26095f, #bfabee);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
}